<html ng-app="Petstore">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../css/bootswatch.min.css">
    <link rel="stylesheet" href="../css/petstore.css">
</head>
<body ng-controller="ItemListController">

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">JacpFX Petstore</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-toggle="modal" data-target="#helpModal">Help</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Built With:</a></li>
                <li><a href="https://github.com/JacpFX/JacpFX" target="_blank">JacpFX</a></li>
                <li><a href="http://angularjs.org" target="_blank">angularJS</a></li>
                <li><a href="http://bootswatch.com" target="_blank">bootswatch</a></li>
                <li><a href="http://vertx.io" target="_blank">vert.x</a></li>
                <li>&nbsp;</li>
                <li><a href="#" data-toggle="modal" data-target="#creditModal">credits</a></li>
            </ul>

        </div>
    </div>
</div>
<div class="container order-container">
<form name="loginForm" novalidate ng-submit="placeOrder()" ng-hide="orderId">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6">
                <h1>Petstore</h1>

                <p class="lead">Choose a Pet</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-6 col-md-6" ng-repeat="item in pets track by $index">
                <div class="petstore-product">
                    <div class="left-floater product-image-small">
                        <img src="../img/products/{{item.imageURL}}" alt="{{item.name}}">
                    </div>
                    <div class="left-floater">
                        <h3>{{item.name}}</h3>
                        <span>{{item.price | currency:"CHF "}}</span>
                    </div>
                    <div class="bs-component" style="margin-top: 18px;">
                        <div class="btn-group btn-group-vertical">
                            <a href="" class="btn btn-sm" ng-click="showDetails(item)">details</a>
                            <a href="" class="btn btn-sm" ng-disabled="item.amount == 0" ng-click="addToBasket(item)">add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- BASKET -->
        <div class="col-lg-12">
            <div class="col-sm-12 col-md-12" ng-repeat="item in order.basket.basketItems track by $index">
                <div class="thumbnail basket-item">
                    <div class="left-floater basket-item-text">
                        <h4>{{item.product.name}}</h4>
                    </div>
                    <div class="left-floater basket-item-text">
                        <p>{{item.amount}}</p>
                    </div>
                    <div class="left-floater basket-item-text phone-hidden">
                        <p>{{item.product.price | currency:"CHF "}}</p>
                    </div>
                    <div class="left-floater basket-item-text">
                        <p>{{(item.product.price * item.amount) | currency:"CHF "}}</p>
                    </div>
                    <div class="right-floater">
                        <div class="btn-group basket-buttons">

                            <button type="button" class="btn btn-sm counter" ng-click="removeOneFromBasket(item)"> -1
                            </button>
                            <button type="button" class="btn btn-sm" ng-click="removeFromBasket(item)"> x</button>

                            <button type="button" class="btn btn-sm counter" ng-disabled="item.amount == 0"
                                    ng-click="addOneToBasket(item)"> +1
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-12 col-md-12">
                <div class="right-floater no-margins">
                    <h4>{{total() | currency:"CHF "}}</h4>
                    <button type="button" class="btn btn-sm right-floater no-margins" ng-click="showCheckout()"
                            ng-disabled="!order.basket.basketItems.length">
                        checkout
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="customerModalLabel">Enter your Data</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- CUSTOMER FORM -->
                            <!-- FIRSTNAME -->
                            <div class="form-group"
                                 ng-class="{'has-error': order.customer.firstname.$invalid}">
                                <input class="form-control" name="firstname" type="text"
                                       placeholder="Firstname" required ng-model="order.customer.firstname"/>
                                <span class="help-block"
                                      ng-show="order.customer.firstname.$error.required">Required</span>
                            </div>
                            <!-- LASTNAME -->
                            <div class="form-group" ng-class="{'has-error': order.customer.lastname.$invalid}">
                                <input class="form-control" name="firstname" type="text"
                                       placeholder="Lastname" required ng-model="order.customer.lastname"/>
                                <span class="help-block"
                                      ng-show="order.customer.lastname.$error.required">Required</span>
                            </div>
                            <!-- ADDRESS -->
                            <div class="form-group"
                                 ng-class="{'has-error': order.customer.homeAddress.street1.$invalid}">
                                <input class="form-control" name="firstname" type="text"
                                       placeholder="Street" required ng-model="order.customer.homeAddress.street1"/>
                    <span class="help-block"
                          ng-show="order.customer.homeAddress.street1.$error.required">Required</span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error': order.customer.homeAddress.zipcode.$invalid}">
                                <input class="form-control" name="firstname" type="text"
                                       placeholder="Zip" required maxlength="4"
                                       ng-model="order.customer.homeAddress.zipcode"/>
                    <span class="help-block"
                          ng-show="order.customer.homeAddress.zipcode.$error.required">Required</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error': order.customer.homeAddress.city.$invalid}">
                                <input class="form-control" name="firstname" type="text"
                                       placeholder="City" required ng-model="order.customer.homeAddress.city"/>
                            <span class="help-block"
                                  ng-show="order.customer.homeAddress.city.$error.required">Required</span>
                            </div>
                            <div class="form-group"
                                 ng-class="{'has-error': order.customer.homeAddress.country.$invalid}">
                                <input class="form-control" name="firstname" type="text"
                                       placeholder="Country" required ng-model="order.customer.homeAddress.country"/>
                    <span class="help-block"
                          ng-show="order.customer.homeAddress.country.$error.required">Required</span>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right"
                                        value="Login" title="Login"
                                        ng-disabled="!loginForm.$valid">
                                    <span>placeOrder</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- PRODUCT DETAILS -->
<div ng-repeat="item in pets track by $index">
    <div class="modal fade" id="{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Product Details</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <div class="left-floater product-image">
                            <img src="../img/products/{{item.imageURL}}" alt="{{item.name}}">
                        </div>
                        <div class="left-floater">
                            <h4>{{item.name}}</h4>

                            <p>{{item.description}}</p>

                            <p>{{item.price | currency:"CHF "}}</p>
                        </div>
                        <div class="right-floater product-button">
                            <p>
                                <button type="button" data-dismiss="modal">close</button>
                                <button type="button" ng-disabled="item.amount == 0"
                                        ng-click="addToBasketAndClose(item)">
                                    add
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Pleas wait...</h4>
            </div>
            <div class="modal-body">
                Order processing, please wait....
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="helpModalLabel">Common...</h4>
            </div>
            <div class="modal-body">
                ...that's just a demo!
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="creditModal" tabindex="-1" role="dialog" aria-labelledby="creditModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="../img/products/jacp_logo.png" style="margin-left: 20px"/>
            </div>
            <div class="modal-body">

                <h4 class="modal-title" id="creditLabel" style="margin-left: 20px;"><b>Special Thanks</b> goes to...
                </h4>

                <ul>
                    <li>our wives, who bear with us, coding until and after midnight</li>
                    <li><a href="http://www.angularjs.org/">angularJS</a> for, well, AngularJS</li>
                    <li><a href="http://www.vertx.io/">vert.x</a> for that amazing platform</li>
                    <li><a href="http://www.github.com/">GitHub</a> for Repos</li>
                    <li><a href="http://www.bootswath.com/">Bootswatch</a> for free CSS-styles</li>
                    <li><a href="http://www.vetstation.ch/">vetstation.ch</a> for providing two more beamers</li>
                    <li><a href="http://www.sbb.ch">SBB</a> for bringing us back home, on time</li>
                    <li><a href="http://www.customizedgirl.com/">customizedgirl</a> for those funny animals</li>
                    <li>and all, we've forgot to mention here...</li>
                </ul>
                <p>
                    No animals were harmed or sold during this production! <span style="font-size:6pt">Wish we could say the same about
                    developers...</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="orderId">
    <div class="row">
        <div class="col-lg-12">
            <div id="thank-you">
                <h1>THANK YOU...</h1>

                <p>Your order-id is: {{orderId}}</p>
                <button type="button" class="btn" ng-click="newOrder()">new Order</button>
            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<footer>
    <div class="row">
        <div class="col-lg-12">

            <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="https://github.com/JacpFX/JacpFX">JacpFX</a></li>
                <li><a href="http://bootswatch.com">bootswatch</a></li>
                <li><a href="http://angularjs.org">angularJS</a></li>
                <li><a href="http://vertx.io">vert.x</a></li>
            </ul>
            <p>Made by <a href="mailto:amo.ahcp@gmail.com">Andy Moncsek</a> and
                <a href="mailto:pete.ahcp@gmail.com">Patrick Symmangk</a>. </p>

            <p>Current version made for Trivadis Techevent (03/2014).</p>
        </div>
    </div>
</footer>
</div>


<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootswatch.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/application.js"></script>
<script src="../js/sockjs.js"></script>
</body>
</html>