<html ng-app="Petstore">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../css/bootswatch.min.css">
    <link rel="stylesheet" href="../css/petstore.css">
</head>
<body ng-controller="ItemListController">

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">JacpFX Petstore</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Products <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="../default/">Dogs</a></li>
                        <li class="divider"></li>
                        <li><a href="../amelia/">Food</a></li>
                        <li><a href="../amelia/">Harnest</a></li>
                        <li><a href="../amelia/">Toys</a></li>
                        <li>&nbsp;</li>
                        <li><a href="../default/">Cats</a></li>
                        <li class="divider"></li>
                        <li><a href="../default/">Food</a></li>
                        <li><a href="../default/">Toys</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../help/">Help</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Built With:</a></li>
                <li><a href="https://github.com/JacpFX/JacpFX" target="_blank">JacpFX</a></li>
                <li><a href="angularjs.org" target="_blank">angularJS</a></li>
                <li><a href="bootswatch.com" target="_blank">bootswatch</a></li>
                <li><a href="vertx.io" target="_blank">vert.x</a></li>
            </ul>

        </div>
    </div>
</div>
<div class="container">
    <form name="loginForm" novalidate ng-submit="placeOrder()">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Petstore</h1>

                    <p class="lead">Choose a Pet</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="col-sm-6 col-md-4" ng-repeat="item in pets track by $index">
                    <div class="thumbnail">
                        <img data-src="{{item.imageURL}}" alt="{{item.name}}">

                        <div class="caption">
                            <h3>{{item.name}}</h3>

                            <p>CHF {{item.price}}</p>

                            <p>
                                <button type="button" ng-click="addToBasket(item)">add</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-sm-6 col-md-4">
                    <ul>
                        <li ng-repeat="item in order.products track by $index">
                            {{item.name}} - {{item.price}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <!-- FIRSTNAME -->
                <div class="form-group"
                     ng-class="{'has-error': order.customer.firstname.$invalid}">
                    <input class="form-control" name="firstname" type="text"
                           placeholder="Firstname" required ng-model="order.customer.firstname"/>
                    <span class="help-block" ng-show="order.customer.firstname.$error.required">Required</span>
                </div>
                <!-- LASTNAME -->
                <div class="form-group" ng-class="{'has-error': order.customer.lastname.$invalid}">
                    <input class="form-control" name="firstname" type="text"
                           placeholder="Lastname" required ng-model="order.customer.lastname"/>
                    <span class="help-block" ng-show="order.customer.lastname.$error.required">Required</span>
                </div>
                <!-- ADDRESS -->
                <div class="form-group" ng-class="{'has-error': order.customer.homeAddress.street1.$invalid}">
                    <input class="form-control" name="firstname" type="text"
                           placeholder="Street" required ng-model="order.customer.homeAddress.street1"/>
                    <span class="help-block"
                          ng-show="order.customer.homeAddress.street1.$error.required">Required</span>
                </div>
                <div class="form-group" ng-class="{'has-error': order.customer.homeAddress.zipcode.$invalid}">
                    <input class="form-control" name="firstname" type="text"
                           placeholder="Zip" required maxlength="4" ng-model="order.customer.homeAddress.zipcode"/>
                    <span class="help-block"
                          ng-show="order.customer.homeAddress.zipcode.$error.required">Required</span>
                </div>
                <div class="form-group" ng-class="{'has-error': order.customer.homeAddress.city.$invalid}">
                    <input class="form-control" name="firstname" type="text"
                           placeholder="City" required ng-model="order.customer.homeAddress.city"/>
                    <span class="help-block" ng-show="order.customer.homeAddress.city.$error.required">Required</span>
                </div>
                <div class="form-group" ng-class="{'has-error': order.customer.homeAddress.country.$invalid}">
                    <input class="form-control" name="firstname" type="text"
                           placeholder="Country" required ng-model="order.customer.homeAddress.country"/>
                    <span class="help-block"
                          ng-show="order.customer.homeAddress.country.$error.required">Required</span>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right"
                            value="Login" title="Login" ng-disabled="!loginForm.$valid&&!order.basket.length">
                        <span>placeOrder</span>
                    </button>
                </div>
            </div>
        </div>
    </form>


    <!--FOOTER-->
    <footer>
        <div class="row">
            <div class="col-lg-12">

                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#top">Back to top</a></li>
                    <li><a href="http://feeds.feedburner.com/bootswatch">JacpFX</a></li>
                    <li><a href="https://twitter.com/thomashpark">bootstrap</a></li>
                    <li><a href="https://github.com/thomaspark/bootswatch/">bootswatch</a></li>
                    <li><a href="https://github.com/thomaspark/bootswatch/">angularJS</a></li>
                    <li><a href="https://github.com/thomaspark/bootswatch/">vert.x</a></li>
                </ul>
                <p>Made by <a href="mailto:amo.ahcp@gmail.com">Andy Moncsek</a> and
                    <a href="mailto:pete.ahcp@gmail.com">Patrick Symmangk</a>. </p>

                <p>Current version made for Trivadis Techevent (03/2014).</p>
            </div>
        </div>
    </footer>


</div>


<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootswatch.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/application.js"></script>
<script src="../js/sockjs.js"></script>
</body>
</html>