.product {
    border-radius: 5px;
    border: 1px solid dimgray;
    width: 180px;
    height: 180px;
    float: left;
    margin: 20px;
}

.left-floater {
    float: left;
    margin-left: 20px;
}

.right-floater {
    float: right;
    margin-right: 8px;
    margin-top: 7px;
}

.thumbnail {
    height: 220px;
}

.product-button {
}

.no-margins{
    margin: 0px;
}

.product-image {
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 1px solid gray;
}

.product-image img{
    width: 200px;
    height: 200px;
}

.petstore-product {
    width: 170px;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

.basket-item {
    height: 55px;
}

.basket-item-text {
    line-height: 40px;
}